.btn {
  @include flex-container(row, nowrap, center, center, 2px);

  outline: none;
  padding: 9px 21px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 7px;
  background: transparent;
  transition: all 0.4s ease;
  cursor: pointer;

  font-size: 14px;
  font-weight: 100;

  &-primary {
    color: $primary;
    border-color: $primary;

    &:hover {
      background: $primary;
      color: $dark-font-color;
    }
  }

  &-secondary {
    color: $secondary;
    border-color: $secondary;

    &:hover {
      background: $secondary;
      color: $dark-font-color;
    }
  }

  i {
    font-size: 18px;
    line-height: 0;
  }
}

.btn-group {
  &-row {
    @include flex-container(row, wrap, flex-start, center, 8px);
  }
  &-column {
    @include flex-container(column, wrap, flex-start, flex-start, 8px);
  }
}