.navigation {
  @include flex-container(row, wrap, flex-end, center, 24px);
  list-style: none;
  padding: 32px 0;
  margin: 0 0 32px 0;

  &-link {
    a {
      color: $font-color;
      font-size: 16px;
      font-weight: 100;
      text-transform: uppercase;
      transition: all 0.4s ease;
      i {
        font-size: 16px;
        margin-right: 2px;
      }
      &:hover {
        color: $primary;
      }
    }
  }

  &-logo {
    margin-right: auto;
    text-align: center;

    a {
      display: block;
      position: relative;
      width: 60px;
      height: 60px;
      line-height: 60px;
      font-weight: 900;
      font-size: 24px;
      color: $primary;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: url("@/assets/img/gear.svg") no-repeat;
        background-position: center center;
        background-size: contain;

        animation: gearRotate 5s linear infinite;
        animation-play-state: paused;
      }

      &:hover:before {
        animation-play-state: running;
      }
    }
  }
}